body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #e2caff;
    padding: 30px;
    text-align: center;
    position: sticky;
    font-size: 20px;
    }

  header.hidden {
    top: -80px; 
  }

  header h1 {
    margin: 0;
    font-size: 2em;
    color: #4a2a80;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: #6a3fa0;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  nav button {
    background: none;
    border: none;
    color: white;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  nav button:hover, nav button.active {
    background-color: #3a1c61;
  }

  section {
    padding: 50px;
    min-height: 100vh;
  }

  section:nth-child(odd) {
    background-color: #f7f1ff;
  }

  section:nth-child(even) {
    background-color: #ffffff;
  }

  section h2 {
    font-size: 26px;
    color: #4a2a80;
  }
  
  p {
  font-size: 20px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  line-height: 22px;
  }

  @media (max-width: 768px) {
    nav button {
      padding: 10px;
      font-size: 0.9em;
    }
  }