body {
  margin: 0;
  font-family: "Baskerville", serif;
}

header {
  background-color: #e2caff;
  padding: 30px;
  text-align: center;
  position: sticky;
  font-size: 20px;
}

header.hidden {
  top: -80px;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #4a2a80;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #6a3fa0;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav button {
  background: none;
  border: none;
  color: white;
  padding: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover, 
nav button.active {
  background-color: #3a1c61;
}

section {
  padding: 50px;
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: #f7f1ff;
}

section:nth-child(even) {
  background-color: #ffffff;
}

section h2 {
  font-size: 26px;
  color: #4a2a80;
}

h1, h2, h3, p, li, .a, .b {
  font-family: "Baskerville", serif;
}

h1 {
  border-radius: 2px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin: 30px 0 40px;
}

h2 {
  border-radius: 2px;
  padding: 15px;
  margin: 20px 0 0 15px;
  text-align: left;
  font-size: 30px;
}

h3 {
  padding: 5px;
  margin: 10px 0 0;
  text-align: left;
  font-size: 20px;
}

p {
  font-size: 20px;
  text-align: justify;
  margin: 15px 30px 15px 30px;
  line-height: 1.5;
}

.paragraph {
  font-family: "Baskerville", serif;
  font-size: 20px;
  text-align: left;
  margin: 4px 15px 12px;
  line-height: 15px;
}

ul li {
  list-style-type: square;
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 18px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.gallery img {
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 768px) {
  nav button {
      padding: 10px;
      font-size: 0.9em;
      font-family: "Baskerville", serif;
  }
}